/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/***********************************************************
GRID SET UP
***********************************************************/
#wrapper {
    width: 960px;
    min-height: 100%;
    margin: auto;
    /*position: relative;*/
    font-size: 0; /* getting rid of space between divs */
    padding-top: 32px;
    -webkit-box-shadow: 0px 9px 33px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 33px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 33px -9px rgba(0,0,0,0.75);
}

#wrapper > * {
    display: inline-block;
    font-size: 1rem; /* returning font size to normal */
}

div {
    vertical-align: top;
}

.col_one_fifths {
    width: 174px;
    padding: 9px;
}

.col_two_fifths {
    width: 366px; /* (174*2) + (9*2) */
    padding: 9px;
}

.col_three_fifths {
    width: 558px; /* (174*3) + (9*4) */
    padding: 9px;
}

.col_four_fifths {
    width: 750px; /* (174*4) + (9*6) */
    padding: 9px;
}

.col_one {
    width: 942px; /* (174*5) + (9*8) */
    padding: 9px;
}

/*.col_6 {
    width: 942px;  (142*6) + (9*10) 
    padding: 9px;
}*/

.full_width {
    width: 960px; /* (174*6) + (9*10) */
}

.content_wrapper { /* 960px container, no padding */
    font-size: 0 !important; /* getting rid of space between divs */
    font-family: Verdana, sans-serif;
    /*padding-top: 32px;*/
}

.content_wrapper > *{
    display: inline-block;
    /*position: relative;*/
    font-size: 1rem; /* returning font size to normal */
}

/***********************************************************
HEADER
***********************************************************/

header {
    padding-bottom: 20px;
}

header div {
    vertical-align: baseline;
}

header h1 {
    margin: 20px 0 0 0;
}

header.fixed_header {
    position: fixed;
}

#logo {
    width: 265px;
}

nav a {
    text-transform: uppercase;
    margin-right: 24px;
}

.active {
    color: #ec1c24;
}

/***********************************************************
GENERAL STYLE
Main Colors 
---------------------------
red= #ec1c24
grey (darker) = #737373
grey (lighter) = #FAFAFA
***********************************************************/

h1.project_title {
    font-size: 30px;
    font-family: Georgia;
    font-style: italic;
    font-variant: bold;
}

h1, h2, h3, h4 {
    margin: 0;
}

p {
    margin-top: 0; 
}

a {
    text-decoration: none;
    color: #737373;
}

a:hover {
    color: #ec1c24;
}



/***********************************************************
PORTFOLIO INDEX
***********************************************************/
.section_title {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 15pt;
    color: #737373;
    text-align: center;
    margin-bottom: 18px;
}

.highlight {
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f3+0,f3f3f3+100&amp;0.65+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(243,243,243,0.65) 0%, rgba(243,243,243,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(243,243,243,0.65) 0%,rgba(243,243,243,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(243,243,243,0.65) 0%,rgba(243,243,243,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6f3f3f3', endColorstr='#00f3f3f3',GradientType=0 ); /* IE6-9 */

}

.project_preview {
    margin-bottom: 9px;
}

.project_preview:hover {
    opacity: 1;
}

.project_preview a img { 
    opacity: 1;
    width: 160px;
}

.project_preview a { 
    text-align: center;
    margin: auto;
}

.project_preview img:hover {
    opacity: 0.6;
}

.category {
    text-align: center;
}

/***********************************************************
PROJECT PAGE
***********************************************************/

.content_wrapper img {
    width: 100%;
}

#project_images img {
    margin-bottom: 9px;
}

#project_nav {
    margin-top: 40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+0,fafafa+100&amp;0.65+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(250,250,250,0.65) 0%, rgba(250,250,250,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(250,250,250,0.65) 0%,rgba(250,250,250,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(250,250,250,0.65) 0%,rgba(250,250,250,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6fafafa', endColorstr='#00fafafa',GradientType=0 ); /* IE6-9 */
}

.current_page img {
    opacity: 0.6 !important;
}

/***********************************************************
FOOTER
***********************************************************/

footer {
    color: #737373;
    margin-top: 40px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}